<ion-header translucent="true" class="custom-header">
  <div class="header">
    <span class="menu">☰</span>
    <h2>Checkout QR Code</h2>
    <img src="assets/images/ZipCartLogo2.png" class="logo" />
  </div>
</ion-header>
<ion-content class="bg">

  <div class="card">

    <img src="assets/images/qr.png" class="qr">

    <p>Transaction ID: 72890</p>
    <h3>Total: $200</h3>

    <p class="note">
      Show this QR code to cashier
    </p>

    <button class="btn">Done</button>

  </div>

</ion-content>