<<ion-header translucent="true" class="custom-header">
  <div class="header">
    <span class="menu">☰</span>
    <h2>Transaction Detail</h2>
    <img src="assets/images/ZipCartLogo2.png" class="logo" />
  </div>
</ion-header>
<ion-content class="bg">

  <div class="card">

    <img src="assets/images/Walmart.png" class="logo">

    <h2>Walmart</h2>
    <p>Oakville, ON</p>

    <div class="items">
      <div>Apple <span>$2</span></div>
      <div>Bread <span>$2</span></div>
      <div>Cake <span>$20</span></div>
    </div>

    <div class="summary">
      <p>Sub Total: $24</p>
      <p>HST (13%): $12.64</p>
      <h3>Total: $36.64</h3>
      <p>ID: 72890</p>
    </div>

    <button class="btn">Back</button>

  </div>

</ion-content>