.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Built Visual Studio Code Extensions
*.vsix
# Local History for Visual Studio Code
.history/

##python Ignore files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.intcheck
*.mypy_cache
*.pytest_cache
.nox/
.tox/

# Virtual environment
venv/
.venv/
env/
.env/
[Pp]ython[Dd]ebug.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*,cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.whl

# Project navigation 
.project
.idea/  # JetBrains IDEs (e.g., PyCharm)
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# OS and Editor files
.DS_Store # macOS
Thumbs.db # Windows

## Ignored Folders
Fruits_Vegetables/
MLMODELS/