<ion-content class="bg">

  <div class="container">


    <div class="header">
      <span class="menu">☰</span>
      <h2>Home</h2>

      <img src="assets/images/ZipCartLogo2.png" class="logo" />
    </div>

    <div class="top-section">
    
      <h2 class="welcome-text">WELCOME HAMNA 👋</h2>
      <p class="sub-text">Select store to start shopping</p>
    </div>

    <!-- Search -->
    <div class="search-container">

      <input
        type="text"
        placeholder="🔍 Search Retailer"
        class="search-bar"
      />
    </div>


    <div class="registered-title">
      Registered Retailers:
    </div>

    
    <div class="retailer-container">

     
      <div *ngFor="let shop of retailers" class="retailer-card">

   
        <img
          [src]="shop.retailerLogoUrl || 'assets/images/store.png'"
          class="retailer-logo"
        />

        <div class="retailer-info">

          <div class="retailer-name">
            {{ shop.retailerName }}
          </div>

 
          <div class="retailer-location">
            Mississauga
          </div>

          <!-- fake number for now -->
          <div class="retailer-products">
            1000 Products
          </div>

          <button
            class="shop-btn"
            (click)="startShopping(shop.retailerId)"
          >
            Select Store
          </button>

        </div>

      </div>

    </div>

  </div>

</ion-content>