<ion-header translucent="true" class="custom-header">
  <div class="header">
    <span class="menu">☰</span>
    <h2>Checkout QR Code</h2>
    <img src="assets/images/ZipCartLogo2.png" class="logo" />
  </div>
</ion-header>

<ion-content class="bg">

  <div class="card">

    <h3>Expenses By Store</h3>
    <div><p>mississauga</p> <p>Brampton</p> <p>Oakville</p></div>

    <div class="chart">
      <div class="bar jan"></div>
      <div class="bar feb"></div>
      <div class="bar mar"></div>
    </div>

    <h3>Most Purchased Item</h3>
    <img src="assets/images/banana.png" class="item">

    <p>Banana</p>

    <button class="btn">Back</button>

  </div>

</ion-content>
