
<ion-header translucent="true" class="custom-header">
  <div class="header">
    <span class="menu">☰</span>
    <h2>Email Verification </h2>
    <img src="assets/images/ZipCartLogo2.png" class="logo" />
  </div>
</ion-header>

<ion-content class="verify-bg">

  <div class="verify-container">


    <div class="header">
      <img src="assets/images/ZipCartLogo2.png" class="logo2"/>
   
    </div>

  
    <div class="icon-box">
      <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
    </div>

    <div class="text">
      <h4>✔ Email Verified</h4>
      <p>Your account has been successfully verified.</p>
      <p>You can now log in and start shopping.</p>
    </div>

    <button (click)="goToLogin()">
      Back To Login
    </button>

  </div>

</ion-content>