.camera_border {
  border: 1px solid red;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  width: 100%;
  border: 1px solid red;
}
ion-button {
  width: 100%;
}
