<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
        /></ion-col>
        <ion-col>
          <ion-row
            ><ion-card-title>{{
              response.data.productName
            }}</ion-card-title></ion-row
          >
          <ion-row
            ><ion-card-subtitle>{{
              response.data.confidence
            }}</ion-card-subtitle></ion-row
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-title>Top Predictions</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pred of response.topPredictions">
          <ion-card-subtitle>{{ pred.productName }}</ion-card-subtitle>
          <ion-card-subtitle>{{ pred.confidence }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
