<ion-header translucent="true" class="custom-header">
  <div class="header">
    <span class="menu">☰</span>
    <h2>Transaction History</h2>
    <img src="assets/images/ZipCartLogo2.png" class="logo" />
  </div>
</ion-header>
<ion-content class="bg">

  <div class="container">

    <h2 class="title">TransactionHistory</h2>

    


    <div class="card">
          <div class="date">10 December 2025</div>
      <img src="assets/images/costco.png" class="logo">

      <div class="info">
        <h3>Costco</h3>
        <p>Mississauga, ON</p>
        <span>$54</span>
      </div>

      <button class="btn">Transaction Detail</button>
    </div>


    <div class="card">
      
    <div class="date">12 March 2026</div>
      <img src="assets/images/Walmart.png" class="logo">

      <div class="info">
        <h3>Walmart</h3>
        <p>Oakville, ON</p>
        <span>$110</span>
      </div>

      <button class="btn">Transaction Detail</button>
    </div>

  </div>

</ion-content>