<ion-content class="cart-bg">

  <div class="mobile-container">


    <div class="cart-header">
      <span>☰</span>
      <h2>Cart</h2>
      <img src="assets/images/ZipCartLogo2.png" class="logo-img" />
    </div>


    <div *ngFor="let item of cartItems" class="cart-card">

      <img [src]="item.image" class="product-img" />

      <div class="cart-info">
        <h3>{{ item.name }}</h3>
        <p class="location">{{ item.store }}</p>

    
        <p class="price">${{ item.price }}</p>

        <div class="bottom-row">

     
          <span class="remove" (click)="removeItem(item)">Remove</span>

          <div class="quantity">
            <button (click)="decrease(item)">−</button>
            <span>{{ item.qty }}</span>
            <button (click)="increase(item)">+</button>
          </div>

        </div>
      </div>

    </div>

    <div class="summary-box" *ngIf="cartItems.length > 0">

      <div class="row">
        <span>Sub Total:</span>
        <span>${{ subTotal }}</span>
      </div>

      <div class="row">
        <span>HST (13%):</span>
        <span>${{ tax }}</span>
      </div>

      <div class="row total">
        <span>Total:</span>
        <span>${{ total }}</span>
      </div>

      <button class="checkout-btn">
        Continue To Checkout
      </button>

    </div>


    <div *ngIf="cartItems.length === 0" class="empty">
      Your cart is empty 🛒
    </div>

  </div>

</ion-content>