<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>This page will dispaly</h3>
  1. display a placeholder to display user profileimage and email address and
  password 2. Button to add addtional information for address, phone 3. at the
  top a nav bar with buttons to redirect to respective pages
</ion-content>
